# EViews dosyaları
*.wf1
*.prg

# Excel geçici dosyaları
~$*.xlsx
~$*.xls

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv

# Jupyter Notebook
.ipynb_checkpoints

# R
.Rhistory
.RData
.Rproj.user

# Mac
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Geçici dosyalar
*.tmp
*.bak
*.log
